.bg{
    position: relative;
    pointer-events: none;
}

.page__bg{
    position: absolute;
    pointer-events: none;
}

.bg_main{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}